body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading-white {
  color: whitesmoke;
  font-family: Poppins;
  font-weight: normal;
}

.text-white {
  color: whitesmoke;
  font-family: Poppins;
  font-weight: normal;
}

.text-poppins {
  font-family: Poppins;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.w-80 {
  width: 80%;
}

.heading-white {
  font-size: 2em;
}
.text-white {
  font-size: 1.5em;
}

/* Large and up */
@media screen and (min-width: 75em) and (min-height: 60em) {
  .heading-white {
    font-size: 3em;
  }
  .text-white {
    font-size: 2em;
  }
}

@font-face {
  font-family: "Poppins";
  src: local("PoppinsRegular"),
    url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("PoppinsBold"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: local("PoppinsItalic"),
    url("../fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
