body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading-white {
  color: whitesmoke;
  font-family: Poppins;
  font-weight: normal;
  font-size: 3em;
}

.text-white {
  color: whitesmoke;
  font-family: Poppins;
  font-weight: normal;
  font-size: 2em;
}

.text-poppins {
  font-family: Poppins;
}

.text-bold {
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: local("PoppinsRegular"),
    url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("PoppinsBold"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}
